/* You can add global styles to this file, and also import other style files */
.background-doodle {
    background-image: url("./assets/background.jpg");
    background-repeat: no-repeat;
    min-height:100vh;
    width:100vw;
    padding:0;
}

#logo{
    font-weight: bolder;
    font-size: 4em;
}